# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Facebooky/bin/Debug
/Facebooky/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Facebooky/obj/Debug/Facebooky.csproj.FileListAbsolute.txt
/Facebooky/obj/Debug/Facebooky.csproj.GenerateResource.Cache
/Facebooky/obj/Debug/Facebooky.csprojResolveAssemblyReference.cache
/Facebooky/obj/Debug/Facebooky.exe
/Facebooky/obj/Debug/Facebooky.FormAddNewGroup.resources
/Facebooky/obj/Debug/Facebooky.FormEditCannedPost.resources
/Facebooky/obj/Debug/Facebooky.FormEditFilterGroup.resources
/Facebooky/obj/Debug/Facebooky.FormFilterSettings.resources
/Facebooky/obj/Debug/Facebooky.FormMain.resources
/Facebooky/obj/Debug/Facebooky.FormPostCannedPost.resources
/Facebooky/obj/Debug/Facebooky.FormSelectCannedPost.resources
/Facebooky/obj/Debug/Facebooky.pdb
/Facebooky/obj/Debug/Facebooky.Properties.Resources.resources
